.btns {
    height: 33px;
    background-color: $red-color;
    border-radius: 35px;
    color: $text-button-color;

    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    // padding: 5px auto;
    transition: all 0.3s;
    &:hover {
        text-decoration: none;
        color: $text-button-color;
        background-color: $red-color-after;
    }
}