.header {

    &__subheader {
        background-color: $main-color;
        min-height: 29px;
        &-title {
            width: 100%;
            line-height: 28px;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            letter-spacing: 2px;
            color: $text-color;
        }
    }

    &__wrapper {
        display: grid;
        grid-template:  66px / 182px 102px 736px 348px 56px;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    }

    &__logo {
        width: 182px;
        padding: 0 11px;
        &-img {
            width: 100%;
        }
    }

    nav {
        grid-column: 3/4;
    }

    &__menu {
        padding: 0 34px 0 11px ;
        display: flex;
        justify-content: start;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;
        transition: all .6s;

        &-item {

            margin-right: 22px;
            &:last-child {
                margin-right: 0;
            }

            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        &-link {
            color: $main-color;
            position: relative;
            text-decoration: none;
            transition: color .2s linear ;
            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 2px;
                background-color: $main-color;
                bottom: -5px;
                left: 0;
                z-index: 1;
        
                transition: width .2s linear ;
            }

            &:hover {  
                text-decoration: none;   
                color: $red-color;                  // hover запрацює якщо в not немає елементу nav__link--btn
                &::after {
                    width: 100%;
                }
             }
        }
    }

    &__block {
        grid-column: 5/6;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;

        &-user {
            margin-right: 5px;
        }

        &-user, &-cart {
            display: block;
            width: 25px;
            height: 25px;
        }

        &-img:hover {
            fill: red;
            width: 25px;
            height: 25px;
        }

        &-img {
            display: block;
            width: 18px;
            height: 18px;
            transition: all 0.4s ease-in;
        }

               
    }
}