.welcome {
    background: url('../img/bg.jpg') no-repeat center / cover;
    min-height: calc(100vh - 95px);
    padding-top: 53px;

    &__title {
        font-weight: 400;
        font-size: 44px;
        line-height: 51px;
        text-align: center;
        color: #000000;
    }

    &__descr {
        margin-top: 14px;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 1px;
        color: #000000;
    }

    &__buttons {
        margin-top: 22px;
        display: flex;
        justify-content: center;
    }
    &__btn + &__btn {
        margin-left: 12px;
    }
    &__btn {
        width: 201px;
    }
}